.GNK-center{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 800%;
}

.page2content{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 800%;

}
.GNK1{

  position: absolute;
  top: 500px;
  left: 10px;
  width: 25%;
  height: auto;

}



