.nicasa-center{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1000%;
}

.page2content{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1000%;

}
.nicasa1{

  position: absolute;
  top: 500px;
  left: 10px;
  width: 25%;
  height: auto;

}




